<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
  <meta charset="utf-8">
  <title>Vivid Seats Events</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/event-service.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="EventsListCtrl">
  <div id="main">
  <h1>Vivid Seats Events</h1>

    <ul class="nav nav-pills">
      <li role="presentation" ng-class="class"><a href="#" ng-click="clearFilter()">All Events</a></li>
      <li role="presentation"><a href="#" ng-click="getUpcomingEvents()">Upcoming Events</a></li>
      <li role="presentation"><a href="#" ng-click="getLocalEvents()">Local Events</a></li>
    </ul>

    <table class="table table-bordered">
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Venue</th>
        <th>City</th>
        <th>State</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="event in events | orderBy:'date' | filter:filters">
        <td>{{event.name}}</td>
        <td>{{event.date | date:"MM/dd/yyyy '@' h:mma"}}</td>
        <td>{{event.venue.name}}</td>
        <td>{{event.venue.city}}</td>
        <td>{{event.venue.state}}</td>
        <td><a href="#">remove</a> / <a href="#">edit</a></td>
      </tr>
    </table>
    <button class="btn">Add</button>
  </div>
</body>
</html>